@import url('./popups/mapPopups.css');
@import url('./popups/hover/hover_popups.css');
@import url('./mapelements/maplibreStyleBar.css');
@import url('./scrollbar.css');
@import url('./popups/mapLabels.css');
@import url(https://db.onlinewebfonts.com/c/af9dbbacda3360d434dcce8ab8b6c38f?family=Hello+Paris+Serif+Medium);

#map {
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    font-size: 14px !important;
    line-height: 25px;
    font-family: "Hello Paris Serif Medium", "Sans-Serif";
    letter-spacing: 0.2rem;
}

*:focus {
    outline: 0;
    border: none !important;
}

:root{
    --background_color: #ffffffac;
    --legend_background_color: #ffffff9f;
    --background_color_close: #eb6608;
    --background_color_close_hover: #eb670882;
    --color_popup_text_content: #1f1f1f;
    --color_popup_text_title: #b39929;
}

a:link {
    color: var(--color_popup_text_content) !important; /* Force your brand color */
    text-decoration: none;      /* Removes Chrome's default underline */
}

/* 2. Visited Link (Chrome heavily protects this state) */
a:visited {
    color: var(--color_popup_text_content) !important; /* Force your brand color */
    text-decoration: none;      /* Removes Chrome's default underline */
}

/* 3. Mouse Hover */
a:hover {
    color: var(--color_popup_text_title) !important; /* Force your brand color */
}

/* 4. Active (The moment it is clicked) */
a:active {
    color: var(--color_popup_text_title) !important; /* Force your brand color */
    text-decoration: none;      /* Removes Chrome's default underline */
}