/* Popup Styling */

/* common attributes of all maplibre popups */

#map > div:nth-child(7) {
    max-width: 480px;
}

.maplibregl-popup-content {
    display: flex;
    overflow: hidden;
    background-color: var(--background_color);
    backdrop-filter: blur(0.2em);
    padding: 6px 6px;
    border-radius: 6px;
    line-height: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    
}

/* close-button for the popup */
.maplibregl-popup-close-button {
    display: none;
}

/* disable little arrow for popups */
.maplibregl-popup-tip{
    display: none;    
}

.popup-text {
    color: var(--color_popup_text_title);
}